{{ "<!-- features -->" | safeHTML }}
<section id="features">
  {{ with.Site.Params.features.title }}
  <h2>{{ . | markdownify }}</h2>
  {{ end }}
  <div class="row">
    <article class="6u 12u$(xsmall) work-item">
      <h3>Image descriptors</h3>
      <p>
        <a href="https://docs.cekit.io/en/latest/descriptor/image.html">Define container images in YAML format</a> which is easy to read and parse!
      </p>
      <pre><code>from: "registry.access.redhat.com/ubi8/ubi-minimal"
name: "ubi8/openjdk-8"
version: "1.10"
description: "Source To Image (S2I) image for Red Hat OpenShift providing OpenJDK 1.8"</code></pre>
      <p>
        See the
        <a
          href="https://github.com/jboss-container-images/openjdk/blob/ubi9/ubi9-openjdk-21.yaml"
          >OpenJDK image</a
        >
        for full example.
      </p>
    </article>

    <article class="6u 12u$(xsmall) work-item">
      <h3>Image testing built-in</h3>
      <p><a href="https://docs.cekit.io/en/latest/handbook/testing/index.html">It's easy to write tests</a> for your container images.</p>
      <pre><code>Scenario: Check that common labels are correctly set
    Given image is built
    Then the image should contain label version
    And the image should contain label name
    And the image should contain label io.openshift.s2i.scripts-url with value image:///usr/local/s2i</code></pre>
      <p>
        By default we support multiple test steps. If that's not enough you can
        write your own too!
      </p>
    </article>

    <article class="6u 12u$(xsmall) work-item">
      <h3>Modules</h3>
      <p><a href="https://docs.cekit.io/en/latest/descriptor/module.html">Module descriptors</a> define building blocks for container images.</p>
      <p>
        <strong>Compose</strong> images out of <strong>modules</strong>. Store
        them on GitHub, share and reuse them between your images!
      </p>
    </article>

    <article class="6u 12u$(xsmall) work-item">
      <h3>Multiple builders support</h3>
      <p>
        Build images using Docker, Buildah, Podman, OSBS. See our <a href="https://docs.cekit.io/en/latest/handbook/building/builder-engines.html">builder engine documentation</a>!
      </p>
    </article>
  </div>
</section>
