RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<IfModule mod_headers.c>
    # This doesn't work, because OVH is adding the cookie somewhere after the
    # request is processed by Apache
    Header always edit Set-Cookie "^(.*)$" "$1; HttpOnly; Secure"

    Header set Strict-Transport-Security "max-age=63072000"
    Header set Content-Security-Policy "frame-ancestors 'none'; default-src https: 'unsafe-inline' https://www.google-analytics.com https://disqus.com https://*.disqus.com https://*.disquscdn.com;"
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "DENY"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>
